:root {
  --background: #ffffff;
  --foreground: #171717;
  --pico-font-size: 16px !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background-alt: #222222;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  nav {
    display: flex;
    gap: 1rem;
    a {
      text-decoration: none;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

table.loading {
  opacity: 0.6;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  position: relative;
}

table.loading::after {
  content: '';
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  width: 5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border-color: transparent;
  border-left-color: #ffffffee;
  border-bottom-color: #ffffffaa;
  border-right-color: #ffffff55;
  border-top-color: #ffffff22;
  border-style: solid;
  border-width: 0.5rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: translate3d(-50%, 0, 0) rotate(0deg);
  }
  to {
    transform: translate3d(-50%, 0, 0) rotate(360deg);
  }
}

tr.row-doc > td {
  padding-block: 1rem;
}

.list-style-none,
.list-style-none li {
  list-style: none;
}

ul.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  .tag {
    cursor: pointer;
    background-color: #ffffff44;
    display: inline-block;
    list-style: none;
    line-height: 1;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    color: var(--foreground);
    transition: background-color 0.2s ease-in-out;
    &:not(.more-tags) {
      clip-path: polygon(
        6px 0%,
        100% 0%,
        100% 100%,
        6px 100%,
        0% calc(100% - 6px),
        0% 6px
      );
    }
    &:hover {
      background-color: #ffffff88;
    }
    &:active {
      background-color: #ffffffbb;
    }
    &:focus {
      outline: 2px solid var(--foreground);
      outline-offset: 2px;
    }
    &:focus-visible {
      outline: 2px solid var(--foreground);
      outline-offset: 2px;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

footer#footer {
  padding-block: 0.5rem;
  text-align: center;
  p {
    margin: 0;
  }
  #gavin-smellson-easter-egg {
    position: relative;
    cursor: pointer;
    & > img {
      position: absolute;
      bottom: calc(100% + 1rem);
      left: 50%;
      transform: translateX(-50%);
      max-width: 200px;
      height: auto;
      transition: transform 0.3s ease-in-out;
      pointer-events: none;
      opacity: 0;
      transition: all 0.3s ease;
    }
    &:hover > img {
      opacity: 1;
      transform: translateX(-50%) translateY(-10px);
    }
  }
}

.MuiPaper-root {
  background-color: var(--background-alt) !important;
  color: var(--foreground) !important;
  ul > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }
}